.dayOfWeek {
    border-bottom: 1px solid #c7c7c7;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    box-sizing: border-box;
    width: calc(((100vw - 57px) / 7));
}
.day {
    background-color: #fff;
}
.dayOfWeek + .dayOfWeek {
    border-left: 1px solid #c7c7c7 ;
}

.dayInField {
    margin: auto;
    text-align: center;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #e3f2fd;

}
.dayInFieldCurrentMonth {
    background-color: #90caf9;
}
.dayInFieldActive {
    background-color: #2962ff;
    color: #ffffff;
    font-weight: 700;

}
@media screen and (max-width: 450px) {
    .dayOfWeek {
        width: calc(((100vw - 30px) / 7));
    }
}
