.header {
    display: grid;
    grid-template-columns: 60px repeat(7, 1fr);
    height: 16vh;
    box-sizing: border-box;

    box-shadow: 0 0 8px 0 rgba(0,0,0, .4);


}
@media screen and (max-width: 450px) {
    .header {
        grid-template-columns: 30px repeat(7, 1fr);
        height: 14vh;
    }

}