.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: #fff;
    width: 280px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 15px 3px rgba(0,0,0,.4);
}

.date {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #888888;
}
.date i {
    color: #00b0ff;
    margin-right: 10px;
}

.times {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.times i {
    color: #00b0ff;
}
.controls {
    display: flex;
    justify-content: space-between;
}
.desc {
    resize: vertical;
}