.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.content {
    background-color: #fff;
    width: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,.5);

    position: absolute;
    left: 42%;
    top: 35%;

}
.color {
    width: 20px;
    height: 20px;
    border-radius: 50%;

}
.activeColor {
    composes: color;
    box-shadow: 0 0 4px 1px rgba(0,0,0,.8);
}

.colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}